/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

table{
  background-color: black;
  color: white;
}

tr:nth-child(even) {background-color: #262626;}

selectedStyle{
  background-color: #bfbfbf !important;
}
